/* #root {
  background-color: mintcream;
}

header {
  background-color: gray;
  padding: 2%;
  display: flex;
}

nav {
  display:inline-flex;
  justify-content: flex;
}

.navbar-container {
  justify-content: flex-end;
  padding-left: 10%;
}

nav ul li {
  text-decoration: none;
  padding: 2%;
  margin: 2%;
} */
